{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<table>
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for stock in stocks %}
                 <tr>
                     <td>{{stock.symbol}}</td>
                     <td>{{stock.name}}</td>
                     <td>{{stock.share_number}}</td>
                     <td>{{usd(stock.price)}}</td>
                     <td>{{ stock.total }}</td>
                 </tr>
        {% endfor %}
          <tr>
                     <td>CASH</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td>{{ cash }}</td>
                 </tr>
</table>

{% endblock %}